* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff74ff;
    --secundary: rgba(255, 162, 239, 0.751);
    --dark: #000000dc;
    --light: #FFFFFF;
    --gray: rgba(128, 128, 128, 0.507) --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    --radius: 8px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
    background: color rgb(240, 234, 230);
    line-height: 1.6;
    color: #333;

}


a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.btn-agenda {
    background-color: #000000dc;
    display: inline-block;
    padding: 12px 24px;
    color: var(--primary);
    border-radius: 8px;
    font-weight: 600;
    transition: 0.03s;
    cursor: pointer;
    border: 2px solid var(--primary);

}


.btn-agenda:hover {
    filter: brightness(1.2);
    transform: translateY(-3px);
    border: 2px solid #333;
    background-color: var(--primary);
    color: #000000dc;


}

.btn {
    background-color: #000000dc;
    display: flex;
    padding: 12px 24px;
    color: var(--primary);
    border-radius: 8px;
    font-weight: 600;
    transition: 0.03s;
    cursor: pointer;
    border: 2px solid var(--primary);
}

.btn:hover {

    filter: brightness(1.2);
    transform: translateY(-3px);
    border: 2px solid #333;
    background-color: var(--primary);
    color: #000000dc;

}

.btn-outline {
    color: var(--primary);
}

.btn-outline:hover {
    border: 2px solid var(#000000dc);
    color: var(--light);
}

header {
    position: fixed;
    backdrop-filter: blur(10px);
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background: var(--secundary);
    box-shadow: var(--shadow);
    z-index: 99;
}

.logo {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo .icon {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: auto;
    margin-right: -30px;
}

span {
    margin-left: 60px;
    font-size: 25px;
    font-weight: 340;
    margin-top: 10px;
}


header .menu-desktop {
    display: flex;
    gap: 30px;
}

header .menu-desktop a {
    font-weight: 600;
}

header .menu-desktop a:hover {
    color: var(--primary);
}

section {
    scroll-margin-top: 100px;
}

.main-inicio {
    background: color rgb(240, 234, 230);
    padding-top: 90px;
}

.inc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.inc h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #333;
}

.inc p {
    margin-bottom: 30px;
    font-size: 18px;
    color: var(--gray);
}

.inc img {
    width: 100%;
    max-width: 500px;
    border-radius: 100%;
    box-shadow: 0 20px 60px var(--primary);
}

.flutuar {
    animation: subirBaixo 4s ease-in-out infinite;
}

@keyframes subirBaixo {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;

}

.hero-stats strong {
    font-size: 28px;
    color: var(--primary);
}

.serviços {
    padding: 80px 5%;
    text-align: center;
}

.serviços h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.serviços p {
    color: var(--gray);
    margin-bottom: 50px;
    color: #333;
}

.serviços img {
    width: 100%;
    max-width: 500px;
    border-radius: var(--ratius);
}


.menu-desktop {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    margin-left: 300px;
    margin-top: -45px;
}

.menu-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.menu-service {
    background-color: var(--gray);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 40px var(--primary);
    display: flex;
    flex-direction: column;
}


.menu-service h3 {
    padding: 15px;
    font-size: 22px;
    color: #333;
}

.menu-service p {
    color: #555;
}

.menu-service strong {
    padding: 10px 15px;
}

.menu-service .btn {
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 15px;
    margin-top: auto;
}

.menu-img {
    width: 100%;
    height: auto;
    position: relative;
}

.menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 80px 5%;
    background-color: var(--secundary);
    margin-top: 1px;
}

.sobre img {
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin-left: 80px;
    box-shadow: 0 20px 60px var(--primary);
}

.sobre h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.sobre article p {
    color: #333333;
    margin-bottom: 30px;

}

.sobre .listagem {
    list-style-type: disc;
    margin-left: 20px;
}

.agd{
    display: none;
}

.btn-rodape{
    display: none;

}


footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding: 30px 5% 20px;
    background: var(--dark);
    color: #fff8f8;
}

footer a:hover {
    color: var(--primary);

}

.copy {
    grid-column: 1/-1;
    text-align: center;
    color: #968b8b;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--dark);
}


@media screen and (max-width: 1020px) {
    /*classes gerais*/

    .inc {
        display: flex;
        flex-direction: column;
    }

    .main-inicio .inc {
        flex-direction: column-reverse;
    }

    /*cabeçalho*/
    nav .btn-agenda {
        display: none;
    }

    .inc h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .inc p {
        text-align: center;
        justify-content: auto;
        margin-top: 20px;
    }


    .hero-stats {
        text-align: center;
        margin-left: 20px;

    }

    .hero-stats li {
        margin-left: 10px;
    }


    .hero-buttons {
        display: none;
    }


    .serviços h2 {
        margin-bottom: 40px;


    }

    .inc img {
        width: auto;
        height: 250px;


    }

    .main-inicio ul {
        margin-bottom: -80px;

    }

    .menu-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }

    footer {
        display: none;

    }

    section .salao {
        display: none;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        /* Empilha o título e o parágrafo */
        align-items: center;
        /* Centraliza os blocos horizontalmente */
        margin-top: -55px;
        /* Centraliza as linhas de texto */
        width: 100%;
        /* Garante que use todo o espaço da tela */
        padding: 20px;
        background-color: var(--light);
    }

    .sobre h2 {

        text-align: center;
    }

    /* Ajuste o parágrafo especificamente para ele não ficar muito estreito */
    .sobre p {
        text-align: center;
        margin-top: -100px;
        width: 90%;
        /* Aumenta a área do texto */
        max-width: 500px;
        /* Evita que fique largo demais em telas maiores */
        margin: 0 auto;
        /* Centraliza o bloco do parágrafo */
    }

    .sobre .listagem {
        margin: 0 0 60px 60px;
        text-align: left;

    }

    .copy {
        background-color: var(--light);
        font-weight: 100;

    }

    .logo .icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60px;
        width: auto;
        margin-right: -30px;
        margin-top: 5px;
    }

    span {
        margin-left: 55px;
        font-size: 17px;
        font-weight: 350;
        margin-top: 25px;
    }

    header {
        padding: 1px 8px;
        backdrop-filter: blur(10px);
    }

    .btn-rodape {
        background-color: #000000dc;
        display: flex;
        justify-content: center;
        padding: 12px 24px;
        color: var(--primary);
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
        transition: 0.03s;
        cursor: pointer;
        border: 2px solid var(--primary);
        margin: -35px auto 60px auto;
        width: 240px;
    }

    .btn-rodape:hover {

        filter: brightness(1.2);
        transform: translateY(-3px);
        border: 2px solid #333;
        background-color: var(--primary);
        color: #000000dc;
    }
    .btn-agd{
    
    }


    .agd{
        display: block;
        font-weight: 200;
        font-size: 18px;
        margin: -80px 0 -60px 0;
        background-color: var(--secundary);
        border-radius: 8px;
    }

    .agd div{
        text-align: center;
        margin: 0 auto;
        padding: 20px;

    }

}